body{

text-align:center;

font-family:sans-serif;

background:#fff7e8;

margin:0;

padding:10px;

}



h1{

font-size:28px;

margin:10px;

}



h2{

font-size:20px;

margin:8px;

}



#stockArea{

display:flex;

flex-direction:column;

gap:5px;

}



.kind{

background:white;

border-radius:15px;

padding:5px;

}



.kind p{

margin:3px;

font-size:18px;

}



.dangoArea{

display:flex;

flex-wrap:wrap;

justify-content:center;

min-height:35px;

}



.dango{

font-size:28px;

cursor:pointer;

margin:2px;

}



#plate{

height:90px;

background:white;

border-radius:40px;

margin:10px;

display:flex;

flex-wrap:wrap;

justify-content:center;

align-items:center;

font-size:35px;

}



button{

font-size:20px;

padding:12px 25px;

margin:8px;

border-radius:15px;

border:none;

cursor:pointer;

}



#choices button{

background:#ffd966;

}



/* けっか表示 */

.result{

position:fixed;

top:50%;

left:50%;

transform:translate(-50%,-50%);

background:white;

border-radius:40px;

padding:40px;

font-size:45px;

font-weight:bold;

z-index:10;

box-shadow:0 0 30px rgba(0,0,0,0.2);

}



/* せいかい */

.correct{

color:#ff7b00;

animation:jump 0.8s infinite;

}



@keyframes jump{


0%{

transform:translateY(0);

}


50%{

transform:translateY(-25px);

}


100%{

transform:translateY(0);

}


}



/* もういちど */

.wrong{

color:#4285f4;

font-size:35px;

}



.confetti{

font-size:30px;

}





@media(max-width:600px){

.dango{

font-size:22px;

}

#plate{

height:70px;

}

}